{% extends 'navbar.html' %}

{% block script %}
<script src="{{ url_for('static', filename='analytics.js') }}"></script>
<script>
	$(document).ready(function() {
		getCrimeByHour('hour')
		getCrimeByDay('day')
		getCrimeByMonth('month')
	});
</script>
{% endblock %}

{% block body %}

<div class="container">
	<h1>Crime Rates by Time of Day</h1>
	<div id="hour">
	</div>
	<h1>Crime Rates by Day of Week</h1>
	<div id="day">
	</div>
	<h1>Crime Rates by Month</h1>
	<div id="month">
	</div>
</div>

{% endblock %}